@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); /*importando desde google fonts*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;/*aplicando la funeste importada*/
    font-size: 20px;
}
body{
    height: 100vh;
    background-color: #000;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
  }
/*estilos header*/
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: #c78c19;
}
header {
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn{
    color: #fff;
    width: 1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: #c78c19;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale: 1.05;
    color: #fff;
}
.action-btn:active{
    scale: 0.95;
}
/*---------- dropdown menu ----------*/
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: 250px;
}
.dropdown-menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*---------- home ----------*/
section#home, #formularioUsuario{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#home h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
/*---------- responsive design ----------*/
@media(max-width:992px){
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}
@media(max-width:576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }

}
/*---------- novedades fin----------*/
/*---------- contacto ----------*/
form {
    margin: 40px 40px;
}
.imput-padron {
    display: block;
    margin: 0 0 20px;
    padding: 3px 12px;
    width: 50%;
}
.container{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.7rem 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}
table {
    margin: 40px 40px;
}
/*---------- footer ----------*/
footer {
    text-align: center;
    background-color: #130A05;
    padding: 40px;
}
footer img{
    width: 100px;
    height: 100px;
}
.copyright {
    color: #fff;
    font-size: 16px;
    margin: 20px;
}
.container-copytight{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}
/*---------- portafolio ----------*/
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -60px;
    position: relative;
}
.carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .content .tittle, 
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;
    list-style: 1.3em;
}
.carousel .list .item .content .topic{
    color: #f1683a;
}
.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
}
.carousel .list .item .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}
/*---------- thumbnail ----------*/
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
} 
/* arrow */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}
.arrows button:hover{
    background-color: #eee;
    color: #555;
}
.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item.item:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .list .item.item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .list .item.item:nth-child(1) .des{
    animation-delay: 1.6s;
}
.carousel .list .item.item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}
/* effect next click */
.carousel .next .list .item.item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 150px;
    }
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}
/* effect prev click*/
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}
.carousel.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
/* time */
.time{
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning{
    to{
        width: 0;
    } 
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
/*.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}*/
/*.logo{
    width: 250px;
    height: 250px;
}*/
/*nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #FFBD59;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}
.productos {
    list-style-type: none;
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icono{
    width: 60px;
    height: 60px
}
.productos li {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 51px 12px ;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover {
    border-color: #c78c19;
}
.productos li:hover h2 {
    font-size: 33px;
}
.productos li:active {
    border-color: #088c19;
}
.productos h2 {
    font-size: 30px;
    font-weight: bold;
}*/
/*
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.checkbox {
    margin: 20px 0;
}
thead {
    background-color: #555555;
    color: #ffffff;
    font-weight: bold;
}
td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}*/
/*
.principal{
    background-color: #fefefe;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em ;
    clear: left;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}
.mapa p{
    margin: 0 0 2em ;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.diferenciales{
    padding: 3em 0;
    background: linear-gradient(#888888, #fefefe);
}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}
.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items{
    line-height: 1.5;
}
.items::before{
    content: "♦";
}
.items:first-child{
    font-weight: bold;
}
.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px black;
}
.imagen-diferenciales:hover{
    opacity: 0.3;
}
.video{
    width: 560px;
    margin: 1em auto;
}
@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    background-color: #747264;
    padding: 10px;
    border: 1px solid #ccc;
}
.submenu  p{
    display: block;
    padding: 6px;
    color: #FFBD59;
    text-decoration: none;
    cursor: pointer;
}
.productos li:hover .submenu {
    display: block;
}*/